<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52141267801-am6q97rvca4vmgi35fn30iscsbdf90hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52141267801-am6q97rvca4vmgi35fn30iscsbdf90hb</string>
	<key>API_KEY</key>
	<string>AIzaSyBvvqrn1qv9eW_lDgEbwhbos0uPEYesY3I</string>
	<key>GCM_SENDER_ID</key>
	<string>52141267801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>youssefedeeb.Hanakol-Aah-</string>
	<key>PROJECT_ID</key>
	<string>hanakol-aah</string>
	<key>STORAGE_BUCKET</key>
	<string>hanakol-aah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52141267801:ios:c561b7f0889e3d1cbaca48</string>
</dict>
</plist>